<div class='header'>
    <div class='row header-top'>
        <div class='col-lg-9 col-md-9 col-sm-12'>
            <!-- Login form -->
            <form class="form-inline text-center" name='loginForm'>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" class="form-control-default txt-no-background" name="username" placeholder="{{'username'}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input type="password" class="form-control-default txt-no-background" name="password" placeholder="{{'password'}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-info form-control-default">{{'login'}}</button>
            </form>
            <!-- End of login form  -->
        </div>
        <div class='col-lg-3 col-md-3 col-sm-12'>
            <button type='submit' class='btn btn-warning form-control-default'>
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              {{'register'}}
          </button>
            <button type='submit' class='btn btn-danger form-control-default'>
              <i class="fa fa-eur" aria-hidden="true"></i>
              {{'deposit'}}
          </button>
            <select (change)="selectLang($event.target.value)" class="select-language txt-no-background">
              <option *ngFor="let language of supportedLanguages" value={{language.value}}>{{ language.value }}</option>
          </select>
        </div>
    </div>
    <!-- Logo and menu container -->
    <div class='row menu-container'>
        <div class='col-lg-6 col-md-6 pull-left text-center'>
            <div class='col-lg-4 col-md-4 offset-md-1 offset-lg-1'>
                <img src='assets/images/common/logo_website.svg'>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 pull-right'>
            <ul class="nav nav-tabs pull-right text-center">
                <li class="nav-item"><a class="header-link" href="#">Sports</a></li>
                <li class="nav-item"><a class="header-link" href="#">Livebetting</a></li>
                <li class="nav-item"><a class="header-link" href="#">Casino</a></li>
            </ul>
        </div>
    </div>
    <!-- End of logo and menu container -->
</div>
<div class='container-fluid'>
    <div class="row">
        <!-- Left main menu -->
        <div class="col-md-2 col-sm-2 left-menu">
            <ul class="col-md-12 col-sm-12 dashboard-menu">
                <li class="dashboard-menu__item" (click)="toggleItemVisibility($event)">
                    <a [routerLink]="['/home']"><i class="fa fa-university fa-lg" aria-hidden="true"></i> CASSA
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                    <ul class="dashboard-submenu" #dashboardSubmenu>
                        <li class="dashboard-submenu__item" (click)="highlightItem($event)"><i class="fa fa-database" aria-hidden="true"></i> Panoramica
                        </li>
                        <li class="dashboard-submenu__item"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Ricarica con carta</li>
                        <li class="dashboard-submenu__item"><i class="fa fa-list" aria-hidden="true"></i> Estrato conto</li>
                    </ul>
                </li>
                <li class="dashboard-menu__item">
                    <a [routerLink]="['/myaccount']"><i class="fa fa-user fa-lg" aria-hidden="true"></i> IL MIO CONTO
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </li>
                <li class="dashboard-menu__item">
                    <a [routerLink]="['/pdr']"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i> PDR
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </li>
                <li class="dashboard-menu__item">
                    <a [routerLink]="['/report']"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i> REPORT
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </li>
                <li class="dashboard-menu__item">
                    <a [routerLink]="['/bets-list']"><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i> LISTA SCOMMESSE
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </li>
                <li class="dashboard-menu__item">
                    <a [routerLink]="['/messages']"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> MESSAGGI
              <span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-9">
            <div class="middle-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!-- Middle content - routerOutlet -->

</div>