body {
    background-color: #04283a;
}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style glyph */

.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/* Class that contains the common properties for a button */

.form-control-default {
    font-family: Ubuntu, sans-serif!important;
    font-size: 14px!important;
    width: 180px!important;
    border-radius: 0;
    height: 30px;
    padding: 2.5px;
    margin: 2.5px;
}

.txt-no-background,
.txt-no-background:focus {
    background-color: transparent;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
}

a.header-link:link,
.header-link:visited {
    text-decoration: none;
    color: #04283a!important;
}

a.header-link:hover {
    text-decoration: none;
}

.header-top {
    background-color: #111821;
    color: #f0f0f0;
    padding: 10px;
}

.menu-container {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #04283a;
}

.tab-content {
    border: 1px solid #ddd;
}

.nav-tabs {
    border: 0;
    margin-top: 15px;
}

.nav-item {
    width: 150px;
}

.select-language {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: Ubuntu, sans-serif!important;
    font-size: 14px!important;
    width: 60px;
    border-radius: 0;
    height: 30px;
    padding: 2.5px;
    margin: 2.5px;
}

.content-box {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    -webkit-box-shadow: inset 0 1px 0 0 #042a3d, inset 1px 0 0 0 #042a3d;
    box-shadow: inset 0 1px 0 0 #042a3d, inset 1px 0 0 0 #042a3d;
    background-color: #03202f;
    padding: 5px;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-red-light {
    color: #f25c4b;
}

.color-blue-light {
    color: #0099cc;
}

.form-control {
    border-radius: 0!important;
}

.info-divider {
    background-color: #d6f5fa;
    border: 1px solid #51cbf4;
    padding: 5px;
}

div.buttons {
    margin-bottom: 15px;
}

@mixin button {
    width: 125px;
    border-width: 2px;
    border-radius: 0;
}

.search-button,
.save-button {
    @include button;
    background-color: #0275d8;
    border-color: #0275d8;
    color: #fff;
    font-weight: 600;
}

.cancel-button {
    @include button;
    border-color: #AE0F0F;
    color: #AE0F0F;
    background-color: #fff;
    font-weight: 600;
}