<div class="row overview-container">
    <div class="col-md-4 data-container data-container__yellow">
        <div class="content text-right">
            250,000.00
            <br>Fido
        </div>
        <div class='data-container__yellow title'>
            Gestione clienti
        </div>
    </div>
    <div class="col-md-4 data-container data-container__green">
        <div class="content text-right">250,000.00
            <br>Saldo Disponibile
        </div>
        <div class='data-container__green title'>Deposita</div>
    </div>
    <div class="col-md-4 data-container data-container__blue">
        <div class="content text-right">250,000.00
            <br>Bilancio Generale
        </div>
        <div class='data-container__blue title'>Lista Movimenti</div>
    </div>
</div>
<div class="row overview-container">
    <div class="col-md-12 data-container data-container__red">
        <div class="content text-right">250,000.00
            <br>Totale Rete
        </div>
        <div class='data-container__red title'>Gestione Clienti</div>
    </div>
</div>