<div class="row container">
    <div class="col-md-4 data-container data-container__yellow">
        <div class="content-box text-right">
            250,000.00
            <br>Fido
        </div>
        <div class='data-container__yellow title-box'>
            Gestione clienti
        </div>
    </div>
    <div class="col-md-4 data-container data-container__green">
        <div class="content-box text-right">250,000.00
            <br>Saldo Disponibile
        </div>
        <div class='data-container__green title-box'>Deposita</div>
    </div>
    <div class="col-md-4 data-container data-container__blue">
        <div class="content-box text-right">250,000.00
            <br>Bilancio Generale
        </div>
        <div class='data-container__blue title-box'>Lista Movimenti</div>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 data-container data-container__red">
        <div class="content-box text-right">250,000.00
            <br>Totale Rete
        </div>
        <div class='data-container__red title-box'>Gestione Clienti</div>
    </div>
</div>